<!-- Navigation -->
<body>
<script src="js/main.js"></script>
<script src="http://www.youtube.com/player_api"></script>

<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a href="#top" onclick=$("#menu-close").click();>Music Unity</a>
        </li>
        <li>
            <a href="#top" onclick=$("#menu-close").click();>Home</a>
        </li>
        <li>
            <a href="#about" onclick=$("#menu-close").click();>Whats Music Unity</a>
        </li>
        <li>
            <a href="#services" onclick=$("#menu-close").click();>My Services</a>
        </li>
        <li>
            <a href="#portfolio" onclick=$("#menu-close").click();>My Recent Music</a>
        </li>
        <li>
            <a href="#team" onclick=$("#menu-close").click();>My Playlists</a>
        </li>
    </ul>
</nav>


<div class="intro-text">
    <div class="team-member  ">
        <div class="container searchBarPadding">

            <input id="searchtext" ng-model=model.searchText type="text"
                   class="form-control searchbar"
                   placeholder="youtube search text"/>
            <br>
            <div class="row">
                <div class="col-xs-6">
                    <a id="search" class="btn btn-primary btn-block searchbarcolor"
                       ng-click="model.search(model.searchText)">Search</a>
                </div>
                <div class="col-xs-6">
                    <a id="clear" class="btn btn-primary btn-block searchbarcolor"
                       ng-click="model.clear()">Clear</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="feedgrabbr_widget" id="fgid_15a0d5c69f97f163de93f17ed"></div>
                <script> if (typeof(fg_widgets) === "undefined") fg_widgets = new Array();
                fg_widgets.push("fgid_15a0d5c69f97f163de93f17ed");</script>
                <script src="http://www.feedgrabbr.com/widget/fgwidget.js"></script>
            </div>
            <div class="col-sm-6">
                <h1>afnl</h1>
                <script src="https://www.reddit.com/.embed?limit=5" type="text/javascript"></script>

            </div>
        </div>
        <div id="parent">
            <div id="player"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <div class="container list-group" ng-repeat="item in model.youtubeResults">

                        <div class="col-sm-6">
                            <div id="searchResults">

                                <div class="list-group-item media">
                                    <div class="media-left">
                                        <a href="">
                                            <img class="media-object" src={{item.snippet.thumbnails.default.url}}
                                                 alt="...">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h5 id="title" ng-click="model.sortTitle()" class="media-heading">
                                            {{item.snippet.title}}</h5>
                                        <button type="button" class="btn pull-right" data-toggle="modal"
                                                data-target="#myModal">
                                            Share
                                        </button>
                                        <button type="button" class="btn pull-right"
                                                ng-click="model.getSongName(item.snippet.title,item.snippet.thumbnails.default.url,item.id.videoId)">
                                            Play
                                        </button>
                                        <button type="button" class="btn pull-right"
                                                ng-click="model.add2Queue(item.id.videoId)">Add To Q
                                        </button>
                                    </div>
                                </div>
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close"
                                                        data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Copy Content</h4>
                                            </div>
                                            <div class="modal-body">
                                                <textarea class="form-control" id='text-{{$index}}'>https://www.youtube.com/watch?v={{item.id.videoId}}</textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn" data-dismiss="modal"
                                                        data-clipboard-action="copy"
                                                        data-clipboard-target='#text-{{$index}}'>
                                                    Copy To Clipboard.
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <h1>Queue</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<div class="container">
    <div id="video-wrapper" class="video-wrapper">
        <video autoplay loop muted id="bgvid">
            <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunxxxny.webm" type="video/webm">
            <source src="http://download1500.mediafire.com/66c3i3o5hfeg/pkp7mukmb78468c/Tomorrowland+2013++official+aftermovie.mp4"
                    type="video/mp4">
        </video>
    </div>
</div>


<!-- Signin/Signup -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row ">
            <div class="col-sm-6">
                <div class="container">
                    <h3>Recently Played</h3>
                </div>
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        <h4 class="list-group-item-heading">Song Name</h4>
                        <p class="list-group-item-text">Service Name</p>
                        <p class="list-group-item-text">Sharable Link</p>
                    </a>
                    <br>
                    <a href="#" class="list-group-item active">
                        <h4 class="list-group-item-heading">Song Name1</h4>
                        <p class="list-group-item-text">Service Name</p>
                        <p class="list-group-item-text">Sharable Link</p>
                    </a>
                    <br>
                    <a href="#" class="list-group-item active">
                        <h4 class="list-group-item-heading">Song Name1</h4>
                        <p class="list-group-item-text">Service Name</p>
                        <p class="list-group-item-text">Sharable Link</p>
                    </a>
                    <br>
                    <button class="btn-dark">Show More</button>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="container">
                    <h3>Most Played</h3>
                </div>
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        <h4 class="list-group-item-heading">Song Name</h4>
                        <p class="list-group-item-text">Service Name</p>
                        <p class="list-group-item-text">Sharable Link</p>
                    </a>
                    <br>
                    <a href="#" class="list-group-item active">
                        <h4 class="list-group-item-heading">Song Name1</h4>
                        <p class="list-group-item-text">Service Name</p>
                        <p class="list-group-item-text">Sharable Link</p>
                    </a>
                    <br>
                    <a href="#" class="list-group-item active">
                        <h4 class="list-group-item-heading">Song Name1</h4>
                        <p class="list-group-item-text">Service Name</p>
                        <p class="list-group-item-text">Sharable Link</p>
                    </a>
                    <br>
                    <button class="btn-dark">Show More</button>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Callout
 <aside class="callout">
     <div class="text-vertical-center">
         <h1>Vertically Centered Text</h1>
     </div>
 </aside>-->
<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My PlayLists</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="team-member">
                    <img src="img/1.png" class="img-responsive img-circle" alt="">
                    <h4>Amardeep Singh</h4>
                    <p class="text-muted">Position</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="team-member">
                    <img src="img/1.png" class="img-responsive img-circle" alt="">
                    <h4>Roop</h4>
                    <p class="text-muted">Position</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Aut eaque,
                        laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut
                        unde.</p>
                </div>
            </div>
        </div>
</section>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container ">
        <div class="container-fluid">
            <div class="row " style="text-align: center">
                <div id="prev" class="col-sm-4 hidden-xs">
                    <img src={{model.setArtWork}} alt="...">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="row">
                        <div class="col-xs-3">
                            <h3><i id="like" class="fa fa-thumbs-o-up" aria-hidden="true"
                                   ng-click="model.changeLikeState('like')"></i></h3>
                        </div>
                        <div class="col-xs-6 ">
                            <marquee behavior="scroll" direction="left"><h4 id="currentTrack">
                                {{model.selectedSong}}</h4></marquee>
                        </div>
                        <div class="col-xs-3">
                            <h3><i id="dislike" class="fa fa-thumbs-o-down" aria-hidden="true"
                                   ng-click="model.changeLikeState('dislike')"></i></i></h3>
                        </div>
                    </div>

                </div>
                <div id="next" class="col-sm-4 hidden-xs">
                    <img src={{model.setArtWork}} alt="...">
                </div>
                <!-- <div class="col-xs-3">
                     <marquee behavior="scroll" direction="left"> <h4>{{model.selectedSong}}</h4></marquee>
                 </div>
                 <div class="col-xs-3">
                     <h2><i class="fa fa-thumbs-up" aria-hidden="true"></i></h2>
                 </div>
                 <div class="col-xs-4">
                     <img  src={{model.setArtWork}} alt="...">
                 </div>-->

                <!--<ul class="list-inline">
                    <li class="hidden-xs">
                        <img  src={{model.setArtWork}} alt="...">

                    </li>
                    <li class="hidden-xs">
                        <marquee behavior="scroll" direction="left"> <h4>{{model.selectedSong}}</h4></marquee>
                    </li>
                </ul>-->
            </div>
        </div>
        <div class="row " style="text-align: center">
            <div class="col-xs-4 ">
                <h2><i class="fa fa-step-backward" aria-hidden="true"></i></h2>
            </div>
            <div class="col-xs-4 ">


                <h2><i id="play" ng-click="model.playPause()" class="fa fa-play" aria-hidden="true"></i></h2>


            </div>

            <div class="col-xs-4 ">

                <h2><i class="fa fa-step-forward" aria-hidden="true"></i></i></h2>
            </div>
        </div>

    </div>
</nav>

</body>


<!-- Custom Theme JavaScript -->


