<!-- Navigation -->
<body>
<script>
    $("#feed").mouseover(function(){
        $(".feedScroll").attr("class", "feedScroll feedScrollpause");
    });
    $("#feed").mouseleave(function(){
        $(".feedScroll").attr("class", "feedScroll");
    });
</script>
<script src="js/main.js"></script>
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a href="#top" onclick=$("#menu-close").click();>Music Unity</a>
        </li>
        <li>
            <a href="#top" onclick=$("#menu-close").click();>Home</a>
        </li>
        <li>
            <a href="#about" onclick=$("#menu-close").click();>Whats Music Unity</a>
        </li>
        <li>
            <a href="#services" onclick=$("#menu-close").click();>My Services</a>
        </li>
        <li>
            <a href="#portfolio" onclick=$("#menu-close").click();>My Recent Music</a>
        </li>
        <li>
            <a href="#team" onclick=$("#menu-close").click();>My Playlists</a>
        </li>

    </ul>
</nav>


<div class="intro-text">
    <div class="team-member container  ">
        <div class="container searchBarPadding">

            <input id="searchtext" ng-model=model.searchText type="text"
                   class="form-control searchbar"
                   placeholder="youtube search text"/>
            <br>
            <div class="row">
                <div class="col-xs-6">
                    <a id="search" class="btn btn-primary btn-block searchbarcolor"
                       ng-click="model.search(model.searchText)">Search</a>
                </div>
                <div class="col-xs-6">
                    <a id="clear" class="btn btn-primary btn-block searchbarcolor"
                       ng-click="model.clear()">Clear</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
            <div class="col-xs-6 col-sm-8 whiteColor  ">
                <h3>User</h3>
            </div>
            <div class="col-xs-6 col-sm-4 whiteColor">
                <h3>Follow</h3>
            </div>
                </div>
            </div>
            <div class="col-sm-6 whiteColor hidden-xs">
                <h3>Feeds</h3>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-6 Content">
                <div ng-repeat="user in model.users">
                    <div class="row">
                        <div class="col-xs-8">
                            <ul class="list-inline">
                                <li>
                                    <!-- src here should be user.url-->
                                    <img class=" heightFollowImage" src="uploads/myFile-1480893251559.png">
                                </li>
                                <li>
                                    <h4 class="whiteColor ">{{user.username}}</h4>
                                </li>

                            </ul>

                        </div>
                        <div class="col-xs-4">
                            <h6 id="follow{{$index}}" class="show">
                                <a href="" class=" whiteColor" ng-click="model.followUser(user,$index)">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </a>
                            </h6>
                            <h6 id="unfollow{{$index}}" class="hide">
                                <a href="" class="whiteColor" ng-click="model.unfollowUser(user,$index)">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="visible-xs whiteColor">Feeds</h3>
            <div class="col-sm-6 Content">
                <div id="feed"class="feedScroll">
                    <a href=""><h4 class="whiteColor">RANJIT BAWA: SHER MARNA (FULL VIDEO SONG) DESI ROUTZ | LATEST PUNJABI SONG 2016</h4></a>
                    <h4 class="whiteColor">RANJIT BAWA: SHER MARNA (FULL VIDEO SONG) DESI ROUTZ | LATEST PUNJABI SONG 2016</h4>
                    <h4 class="whiteColor">RANJIT BAWA: SHER MARNA (FULL VIDEO SONG) DESI ROUTZ | LATEST PUNJABI SONG 2016</h4>
                    <h4 class="whiteColor">RANJIT BAWA: SHER MARNA (FULL VIDEO SONG) DESI ROUTZ | LATEST PUNJABI SONG 2016</h4>
                    <h4 class="whiteColor">RANJIT BAWA: SHER MARNA (FULL VIDEO SONG) DESI ROUTZ | LATEST PUNJABI SONG 2016</h4>
                    <h4 class="whiteColor">RANJIT BAWA: SHER MARNA (FULL VIDEO SONG) DESI ROUTZ | LATEST PUNJABI SONG 2016</h4>
                    <h4 class="whiteColor">RANJIT BAWA: SHER MARNA (FULL VIDEO SONG) DESI ROUTZ | LATEST PUNJABI SONG 2016</h4>
                    <h4 class="whiteColor">RANJIT BAWA: SHER MARNA (FULL VIDEO SONG) DESI ROUTZ | LATEST PUNJABI SONG 2016</h4>
                    <h4 class="whiteColor">RANJIT BAWA: SHER MARNA (FULL VIDEO SONG) DESI ROUTZ | LATEST PUNJABI SONG 2016</h4>
                    <h4 class="whiteColor">RANJIT BAWA: SHER MARNA (FULL VIDEO SONG) DESI ROUTZ | LATEST PUNJABI SONG 2016</h4>
                    <h4 class="whiteColor">RANJIT BAWA: SHER MARNA (FULL VIDEO SONG) DESI ROUTZ | LATEST PUNJABI SONG 2016</h4>
                    <h4 class="whiteColor">RANJIT BAWA: SHER MARNA (FULL VIDEO SONG) DESI ROUTZ | LATEST PUNJABI SONG 2016</h4>
                    <h4 class="whiteColor">RANJIT BAWA: SHER MARNA (FULL VIDEO SONG) DESI ROUTZ | LATEST PUNJABI SONG 2016</h4>
                    <h4 class="whiteColor">RANJIT BAWA: SHER MARNA (FULL VIDEO SONG) DESI ROUTZ | LATEST PUNJABI SONG 2016</h4>
                    <h4 class="whiteColor">RANJIT BAWA: SHER MARNA (FULL VIDEO SONG) DESI ROUTZ | LATEST PUNJABI SONG 2016</h4>
                    <h4 class="whiteColor">RANJIT BAWA: SHER MARNA (FULL VIDEO SONG) DESI ROUTZ | LATEST PUNJABI SONG 2016</h4>
                    <h4 class="whiteColor">RANJIT BAWA: SHER MARNA (FULL VIDEO SONG) DESI ROUTZ | LATEST PUNJABI SONG 2016</h4>
                    <h4 class="whiteColor">RANJIT BAWA: SHER MARNA (FULL VIDEO SONG) DESI ROUTZ | LATEST PUNJABI SONG 2016</h4>
                    <h4 class="whiteColor">RANJIT BAWA: SHER MARNA (FULL VIDEO SONG) DESI ROUTZ | LATEST PUNJABI SONG 2016</h4>
                    <h4 class="whiteColor">RANJIT BAWA: SHER MARNA (FULL VIDEO SONG) DESI ROUTZ | LATEST PUNJABI SONG 2016</h4>
                    <h4 class="whiteColor">RANJIT BAWA: SHER MARNA (FULL VIDEO SONG) DESI ROUTZ | LATEST PUNJABI SONG 2016</h4>

                </div>
            </div>
        </div>
        </div>
</div>

</body>


<!-- Custom Theme JavaScript -->


