<!DOCTYPE html>
<html lang="en" ng-app = "MusicUnity">
<head>
    <meta charset="UTF-8">
    <title>HOME PAGE</title>
    <script>
        var clipboard = new Clipboard('.btn');
        clipboard.on('success', function(e) {
            console.log(e);
        });
        clipboard.on('error', function(e) {
            console.log(e);
        });
    </script>
</head>
<body>

<div class="container">
    <h1>HOME</h1>
    <input ng-model = model.searchText type="text"
           class="form-control"
           placeholder="youtube search text"/>
    <br>
    <a id = "search" class="btn btn-primary btn-block"
       ng-click= "model.search(model.searchText)">SEARCH</a>
</div>


<div class = "container" ng-repeat="item in model.youtubeResults">
    <!--ng-repeat start-->
    <a target="_blank" href='https://www.youtube.com/watch?v={{item.id.videoId}}'>{{item.snippet.title}}</a>
    <button type="button" class="btn pull-right" data-toggle="modal" data-target="#myModal">Share</button>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Copy Content</h4>
                </div>
                <div class="modal-body">
                    <textarea class="form-control" id='text-{{$index}}'>https://www.youtube.com/watch?v={{item.id.videoId}}</textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal"
                            data-clipboard-action="copy" data-clipboard-target='#text-{{$index}}'>Copy To Clipboard.</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div ifrm id="tabs2">
    <iframe id = "ifrm" width="640"height="390"frameborder="0" title="YouTube video player"type="text/html"
            src="http://www.youtube.com/embed/u1zgFlCw8Aw?enablejsapi=1"></iframe></div>
</body>
</html>