<script src="http://www.youtube.com/player_api"></script>
<div id = "parent">
<div id="player"></div>
</div>


<div class=" container feedgrabbr_widget" id="fgid_15a0d5c69f97f163de93f17ed"></div>
<script> if (typeof(fg_widgets)==="undefined") fg_widgets = new Array();fg_widgets.push("fgid_15a0d5c69f97f163de93f17ed");</script>
<script src="http://www.feedgrabbr.com/widget/fgwidget.js"></script>

<button onclick="reloadFunc()">click me</button>
<button onclick="pausePlayer()">pause</button>
<button onclick="playPlayer()">play</button>